body{
margin:0 auto;
padding:0;
font:76% Tahoma, Verdana,Arial,sans-serif;
color:#333;
background:#0d1727 url(images/bg.jpg) top left repeat-x;
}
body, p, td, li, ul, ol  {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

#bg{
background:transparent url(images/div_bg.jpg) top center repeat-y;
margin:0 auto;
width:834px;
height:100%
}

#footer {
background:transparent url(images/footer.jpg) top center no-repeat;
color:#333;
margin:0 auto;
width:834px;
height:17px;
}

#wrap{
color:#333;
margin:0 auto;
width:800px;
height:100%
}

#header{
background:transparent url(images/top.jpg) top center no-repeat;
height:160px;
margin:0px;
border:none;
padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma , Arial, Verdana, sans-serif;
  margin: 0;
  color: #be1084;
  font-size: 1.6em;  
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
a:link {
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
a:hover, a:active {
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
p {
  margin: 0 0 1.3em 0;
  padding: 0;
}
blockquote {
  border-left: 4px solid #69c;
  padding: 0 15px;
  margin: 25px 100px 25px 50px;
  color: #696969;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  border: 1px solid #ddd;
}
.form-item {
  margin-top: 1em;
}
.form-item label {
  color: #369;
}
.item-list .title {
  color: #333;
  font-size: 0.85em;
}

/*
** Page layout blocks / IDs
*/

td#home a:link img, td#home a:visited img {
  width: 144px;
  height: 63px;
}
td#home a:hover img {
  width: 144px;
  height: 63px;
}
.topbg {
	height:33px;
	background: transparent url(images/plinks_bg.jpg) left top repeat-x;
}

.border {
border:none;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

.primary-links a:link, .primary-links a:visited {
  color: #333;
}
.primary-links a:hover {
  color: #333;
  text-decoration:none;
}
#primary-menu .primary-links   {
  font-size: 0.79em;
}
#primary-menu .primary-links h1, #primary-menu .primary-links h2, #primary-menu .primary-links h3 {
  font-size: 2.3em;
  color: #333;
}

.secondary-links, .secondary-links a:link, .secondary-links a:visited  {
  color: #e4e9eb;
}
.secondary-links a:hover {
  color: #fff;
  text-decoration: underline;
}
#secondary-menu .secondary-links {
  font-size: 0.85em;
}
ul.links li {
  border-left: 1px solid #ff8c00;
}
#navlist li {
  border-left: 1px solid #369;
}
#subnavlist li, ul.primary-links li, ul.secondary-links li {
  border-left: 1px solid #fff;
}
#navlist li.first, #subnavlist li.first, ul.links li.first {
  border: none;
}
.tabs {
  margin: 15px 0;
}
.tabs ul.primary {
  border-collapse: collapse;
  padding: 0 0 3px 10px;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  height: auto;
  line-height: normal;
  border-bottom: 2px solid #369;
}
.tabs ul.primary li {
  display: inline;
}
.tabs ul.primary li a {
  padding: 3px 10px;
  background: #fff url(tabs-off.png) left top no-repeat;
  border-color: #69C;
  border-width: 2px;
  border-style: none solid none none;
  height: auto;
  margin-right: 10px;
  text-decoration: none;
  text-transform: lowercase;
}
.tabs ul.primary li.active a {
  background: #369 url(tabs-on.png) left top no-repeat;
  border-right: 2px solid #369;
  color: #fff;
}
.tabs ul.primary li a:hover {
  background-color: #fffaf0;
  color: #ff4500;
}
.tabs ul.secondary {
  border-collapse: collapse;
  padding: 10px 0;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  list-style: none;
  height: auto;
  line-height: normal;
  border-bottom: none;
}
.tabs ul.secondary li {
  display: inline;
  height: auto;
  padding: 0 0 0 10px;
  text-decoration: none;
  border-right: none;
}
.tabs ul.secondary li a {
  background: #fff url(tabs-option-off.png) left center no-repeat;
  padding: 10px 0 10px 25px;
  margin: 0;
}
.tabs ul.secondary li a.active {
  background: #fff url(tabs-option-on.png) left center no-repeat;
  color: #369;
  border-bottom: none;
}
.tabs ul.secondary li a:hover {
  background: #fff url(tabs-option-hover.png) left center no-repeat;
  color: #FF4500
}
#content {
  border-top:2px solid #bdbdbd;  
}
#contentstart {
  background-color: #fff;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 0.85em;
  margin: 0.2em;
}
#search .form-text {
  width: 9em;
}
#search .form-submit {
  height: 1.5em;
}
#mission {
  background-color: #fff;
  color: #696969;
  border-top: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  padding: 10px;
  margin: 20px 35px 0 35px;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
}
#site-info {
  background-color: #bdd3ea;
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
}
.site-name {
  font-size: 1.2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #ff8c00;
  text-decoration: none;
}
.site-slogan {
  font-size: 0.8em;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px 10px 50px 10px;
  /* fix background overlapping text in IE (aka Peekaboo Bug) */
  position: relative;
}
#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
.nav {
  padding: 0;
  margin: 0;
}
#sidebar-left, #sidebar-right {
  font-size: 0.75em;
  width: 130px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 25px 10px 75px 10px;
  vertical-align: top;
}
#sidebar-left {
  border-right: 1px solid #bdbdbd;
}
#sidebar-right {
  border-left: 1px solid #bdbdbd;
}
#sidebar-left li, #sidebar-right li {
  font-size: 1em;
}
.node .content {
  text-align: left;
  font-size: 0.85em;
  line-height: 1.3;
}
.comment .content {
  text-align: left;
  font-size: 0.85em;
  line-height: 1.3;
}
#footer-message {
  padding: 15px 100px 30px 100px;
  font-size: 0.85em;
  text-align: center;
  color: #aaa;
}
table#footer-menu {
	height:33px;
	background: transparent url(images/plinks_bg.jpg) left top repeat-x;
  	color: #333;
}
#footer-menu td {
  padding: 5px;
  font-size: 0.75em;
}
#footer-menu .primary-links, #footer-menu a:link, #footer-menu a:visited  {
  color: #e4e9eb;
}
#footer-menu a:hover  {
  color: #fff;
  text-decoration: underline;
}
#footer-menu .primary-links h1, #footer-menu .primary-links h2, #footer-menu .primary-links h3 {
  font-size: 1.3em;
  color: #333;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#content .title, #content .title a {
  color: #cf1791;
}
.content h1 {
  color: #be1084;
  font-size: 1.9em;
}
.content h2 {
  color: #be1084;
  font-size: 1.7em;
}
.content h3 {
  color: #333;
  font-size: 1.5em;
}
.content h4 {
  color: #8be;
  font-size: 1.3em;
}
.content h5 {
  color: #96c6f6;
  font-size: 1.15em;
}
.submitted {
  color: #999;
  font-size: 0.79em;
}
div.links {
  color: #ff8c00;
}
.links a {
  font-weight: bold;
}
.box {
  padding: 0 0 1.5em 0;
}
.box {
  padding: 0;
  margin: 0;
}
.box h2 {
  font-size: 9px;
}

.block .content {
  padding: 5px;
}
.block {
  margin-bottom: 1.5em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2.5em 0;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.83em;
  padding: 1.5em;
}
.node .picture {
  border: 1px solid #fff;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title {
  font-size: 1em;
  padding: 10px 0 12px 19px;
}
.comment .new {
  font-weight: bold;
  font-size: 1em;
  margin-left: 2px;
  color: red;
}
.comment .picture {
  border: 1px solid #fff;
  float: right;
  margin: 10px;
}
div.links {
  font-size: 0.75em;
}
div.links .prev, div.links .next, div.links .up {
  font-size: 1.15em;
}
.titles .prev, .titles .next  {
  font-size: 0.85em;
  font-weight: bold;
  color: #444;
}
.hide {
  display: none
}
.nav .links .next a:link {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next.png) right center no-repeat;
}
.nav .links .next a:visited {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next-visited.png) right center no-repeat;
}
.nav .links .next a:hover {
  padding: 17px 17px 17px 0;
  background: transparent url(arrow-next-hover.png) right center no-repeat;
}
.nav .links .prev a:link {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev.png) left center no-repeat;
}
.nav .links .prev a:visited {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev-visited.png) left center no-repeat;
}
.nav .links .prev a:hover {
  padding: 17px 0 17px 17px;
  background: transparent url(arrow-prev-hover.png) left center no-repeat;
}
.nav .links .up a:link {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up.png) center top no-repeat;
}
.nav .links .up a:visited {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-visited.png) center top no-repeat;
}
.nav .links .up a:hover {
  padding: 11px 0 17px 0;
  background: transparent url(arrow-up-hover.png) center top no-repeat;
}

/*
** Administration page styles
*/
div.admin-panel .description {
  color: #999;
}
div.admin-panel h3 {
  background-color: #333;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
div.admin-panel .body {
  background: #fffaf0;
}

/*
** Module specific styles
*/
.content .active {
  color: #369;
}
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source {
  color: #999;
  font-style: italic;
  font-size: 0.85em;
}
#aggregator .title {
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#tracker th {
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fafafa;
}
#tracker th img {
  float: right;
}
#tracker tr.even, #tracker tr.odd {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #bbb;
}
#forum {
  margin: 15px 0 15px 0;
  background-color: #fff;
}
#forum table {
  width: 100%;
  border: 2px solid #69c;
}
#forum table tr th {
  text-align: center;
  background: #69c;
  color: #fff;
  font-size: 0.75em;
  border-bottom: 1px solid #aaa;
}
#forum table tr th a  {
  color: #fff;
  text-decoration: underline;
}
#forum table tr th img  {
  margin: 0;
}
#forum tr.odd {
  background: #e0edfb;
}
#forum tr.even {
  background: #fff;
}
#forum td {
  padding: 0.5em;
}
#forum td.container {
  color: #000;
  border: 2px solid #69c;
}
#forum td.container a {
  color: #e4e9eb;
  padding: 20px 0 20px 35px;
}
#forum td.container a:visited {
  color: #e4e9eb;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
.block-forum h3 {
  margin-bottom: .5em;
}

/* -------------------------- */
a.sgfooter:link, a.sgfooter:visited {
	color			: #333;
	font-size		: 10px;
	font-weight: normal;
	font-family: Arial;
	text-decoration:none;
}
a.sgfooter:hover {
	color			: #333;
	font-family: Arial;
	font-weight: normal;
	text-decoration:none;
}
a.sgfooter1:link, a.sgfooter1:visited {
	color			: #333;
	font-size		: 10px;
	font-weight: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
}
a.sgfooter1:hover {
	color			: #333;
	font-weight: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
}
a.sglink:link, a.sglink:visited {
	color			: #333;
	font-size		: 10px;
	font-weight: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
}
a.sglink:hover {
	color			: #333;
	font-weight: normal;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration:none;
}
.sgf {
font-size: 10px;
font-family: Verdana,Arial,Helvetica,sans-serif;
color: #333;
text-decoration:none;
}

.sgf1 {
font-size: 10px;
font-family: Verdana,Arial,Helvetica,sans-serif;
color: #333;
text-align:left;
}

.sgimg1{
	background:#0072b5 url(images/banner_01.jpg) center top no-repeat;
	background-repeat: no-repeat;
	width:28px;
	height:16px;
}
.sgimg2{
	background:#0072b5 url(images/banner_02.jpg) center top no-repeat;
	background-repeat: no-repeat;
	width:107px;
	height:16px;
}